body{
    width:100vw;
}
#main,#Htop{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
#main{
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Htop,#main{
    align-items: center;
}
#GenreFilter,#subtitle,#btn{
    width: 100%;
    font-size: 22px;  
}
#GenreFilter{
    background-color: rgb(236, 233, 233);
    margin-bottom: 1rem;
    border-radius: 3px;
}
#subtitle{
    padding-left: 1rem;
}

#btn {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 1rem;
    
}
@media (max-width: 900px) {
    #btn {
      justify-content: flex-start;
    }
  }
table {    
    border-collapse: collapse;
    width: 100%;
}
thead,th,tr,td{
    text-align: left;
    padding: 3px;
}
th,tr,td{
    border:1px solid lightgrey;
    padding-left: 10px;
    padding-right: 2rem;
}
th,tr:hover {
    background-color: rgb(230, 227, 227);
}
#Htop{
    font-size: 30px;
    font-weight: 700;
}
button{
    border: none;
    background-color: rgb(210, 192, 192);
    border-radius: 3px;
    padding: 0.43rem;
    font-size: 12px;
    font-weight: 500;
    margin: 0.5rem;
}
